*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}
:root{
  --primary_color:#0b132b;
  --secondary_color:#0DAB76;
  --tertiary_color:#edf2f4;
  --quartiary_color:#45503b;
  --cinqieme_color:#B1740F;
}

body{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color:var(--primary_color);
  background-color:#8d99ae;
}

footer{
  padding: 10px;
  background-color: #0b132b;
  display:flex;
  justify-content: center;
  flex-wrap: wrap;
}

footer h5 {
  color:var(--secondary_color); 
  /* text-shadow: 0 0 10px rgba(0,0,0,0.5) */
}

footer i{
  color:var(--secondary_color);
  font-size: 1.5vw;
  padding: 10px;
  text-align: center;
}
footer i:hover{
  color: var(--tertiary_color);
  text-shadow:2px 2px 5px var(--tertiary_color);
}