/* #contact-title {
    text-align: center;
    padding: 20px;
    color: var(--primary_color);
    text-shadow: 2px 2px var(--secondary_color);
    /* border-bottom: 2px solid var(--primary_color);  */
/* } */ 

#contact-form {
    align-content: center;
}


input {
    width: 100%;
}
textarea {
    width: 100%;
}
#form-button {
    width: 100%;
}
