/* *{
    margin:0;
    padding:0;
    box-sizing: border-box;
  } */
/* :root{
    --primary_color:#0b132b;
    --secondary_color:#0DAB76;
    --tertiary_color:#edf2f4;
    --quartiary_color:#45503b;
    --cinqieme_color:#B1740F;
} */
/* body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:var(--primary_color);
    background-color:#8d99ae; */
/* } */
nav {
    background-color:var(--primary_color);
}
nav a {
    color:var(--secondary_color); 
    text-shadow: 0 0 10px rgba(0,0,0,0.5);
}
nav h1:hover{
    color: var(--tertiary_color);
    text-shadow:2px 2px 5px var(--tertiary_color);
}
nav h3 {
    color:var(--secondary_color); 
    text-shadow: 0 0 10px rgba(0,0,0,0.5)
}
nav h3:hover{
    color: var(--tertiary_color);
    text-shadow:2px 2px 5px var(--tertiary_color);
}

/* @media (min-width: 576px) { ... } */

/* Medium devices (tablets, 768px and up) */
/* @media (min-width: 768px) { 
    
 } */

/* Large devices (desktops, 992px and up) */
/* @media (min-width: 992px) { ... }

/* Extra large devices (large desktops, 1200px and up) */
/* @media (min-width: 1200px) { ... } */ 
@media screen and (max-width:980px){
    header{
        padding-bottom: 0;
        justify-content: center;
        position:relative;
        width:100%;
        /* padding:0px; */
        /* margin:0; */
    }
    header h1{
        width:100%;
        text-align: center;
        font-size: 50px;
    }
    header nav {
        width: 100%;
    }
    header nav ul {
        margin-top: 20px;
        width:100%;
        justify-content: center;
    }
    header nav ul li a{
        font-size: 35px;
    }
}